npm config set registry="http://35.88.234.74:8081/repository/nodejs-repo/"
npm config set _auth="$(echo -n 'username:password' | base64)"
npm config ls
npm publish --registry http://35.88.234.74:8081/repository/nodejs-repo/
